In [1]:
import pandas as pd
import numpy as np

#### Additional References:
https://www.kaggle.com/matleonard/encoding-categorical-features-with-svd <br>
https://www.kaggle.com/leogal/pca-svd-intro-and-visualization <br>
https://machinelearningmastery.com/singular-value-decomposition-for-dimensionality-reduction-in-python/ <br>
https://towardsdatascience.com/singular-value-decomposition-and-its-applications-in-principal-component-analysis-5b7a5f08d0bd <br>
https://towardsdatascience.com/svd-8c2f72e264f

## Singular Value Decomposition

### Plan:
**1. SVD, what is it and what does it do** <br>
    a. Explain theory and maths / approach <br>
    b. Build it from scratch with a dummy data <br>
**2. Comparison to other methods: why use SVD over these** <br>
    a. What considerations do I need to make when choosing SVD vs other techniques? <br>
**3. Case study / Application** <br>
    a. Choose one (two if it adds value in explanation)

## Matrix Factorization
https://heartbeat.fritz.ai/recommender-systems-with-python-part-iii-collaborative-filtering-singular-value-decomposition-5b5dcb3f242b

##### Used to factorize a matrix, which is to find out 2 or more matrices such that when you multiply them, you'll get back the original matrix. It is used to discover features that explain the interactions between two different kinds on entities. One obvious application is to predict ratings in collaborative filtering - to recommend items to users

<img src="images/matrix_factor.png" width="600" height="400">

##### Type of matrix factorization:
- LU Matrix Decomposition - for square matrices - used for finding coefficients in a linear regression
- QR Matrix Decomposition - m x n matrices (not square) 
- Cholesky Decomposition - square symmetric matrices where all eigenvalues are > 0, so-called positive definite matrices
- Eigenvalue decomposition - for square matrices
- **Singular Value Decomposition** -  SVD came into the limelight when matrix factorization was seen performing well in the Netflix prize competition

### 1. a) SVD, what is it and what does it do
https://jonathan-hui.medium.com/machine-learning-singular-value-decomposition-svd-principal-component-analysis-pca-1d45e885e491#:~:text=What%20is%20the%20difference%20between,PCA%20skips%20less%20significant%20components. <br>
https://www.mathsisfun.com/algebra/eigenvalue.html # eigenvalues and eigenvectors <br> 
https://towardsdatascience.com/singular-value-decomposition-and-its-applications-in-principal-component-analysis-5b7a5f08d0bd <br>
https://medium.com/the-andela-way/foundations-of-machine-learning-singular-value-decomposition-svd-162ac796c27d

#### SVD is one of the most widely used unsupervised learning algorithms used mainly in recommendation systems and dimensionality reduction. 

#### How does it work?

##### SVD is a way to factorize a matrix into 3 other matrices. If we have a matrix A, then its SVD is represented by
$$
\huge A = U S V^T 
$$

generated by $$ \large AV = SU $$ $$ and $$ $$ \large V^{-1} = V^T $$
##### where First,
$ \large A $ is an m x n matrix <br>
$ \large U $ is an m x m orthogonal matrix, which is $ \large U U^T = I $ <br>
$ \large S $ is an m x n nonnegative diagonal matrix, the diagonal elements are called singular values <br>
$ \large V $ is an n x n orthogonal matrix, which is $ \large V V^T = I $

##### Second,
$ \large U $ and $ \large V $ are orthogonal matrices with orthonormal eigenvectors (all vectors are mutually orthogonal and all of unit length) chosen from $ \large AA^T $ and $ \large A^TA $ respectively <br>  
$ \large S $ is a diagonal matrix with r elements = to the root of the poisitve eigenvalues of $ \large AA^T $ and $ \large A^TA $ (both have the same poisitve eigenvalues)

Consider any m x n matrix A, we can multiply it with $ A^T $ to form $ \large AA^T $ and $ \large A^TA $. these matrices are:
- symmetrical ==> hence, we can choose its eigenvectors to be orthonormal (perependicular to each other with unit length - property of symmetric matrices)
    - $ \large U U^T = I $ and $ \large V V^T = I $
- square
- eigenvalue are 0 or positive
- both matrices have the same positive eigenvalues
- both have the same rank r as A

Also, 
- the covariance matrices we use in ML are in this form

- So, the eigenvectors for  $ \large AA^T $ are $ U $ and the eigenvectors for $ \large A^TA $ are $ V $ and we call them singular vectors of A
- Both matrices have the same positive eigenvalues (the scale of the stretch of the eigenvector)
- the square roots of these eigenvalues are called singular values

<img src="images/svd_formula.jpeg" width="800" height="400">

### 1. b) Example of how to interpret results from SVD
https://medium.com/the-andela-way/foundations-of-machine-learning-singular-value-decomposition-svd-162ac796c27d <br>
https://towardsdatascience.com/various-implementations-of-collaborative-filtering-100385c6dfe0

In [2]:
# columns are movies, the rows are different users and the entities are ranks
# 0 doesn't like a certain movie while 5 - they really like it
# first 3 movies are Sci-Fi and last 2 - Romance
d = {'Avengers':[1,3,4,5,0,0,0],'StarWars':[1,3,4,5,2,0,1], 'IronMan':[1,3,4,5,0,0,0], 'Titanic':[0,0,0,0,4,5,2], 'Notebook':[0,0,0,0,4,5,2]}
A_pd = pd.DataFrame(d)

# matrix 
A = A_pd.values

A_pd

   Avengers  StarWars  IronMan  Titanic  Notebook
0         1         1        1        0         0
1         3         3        3        0         0
2         4         4        4        0         0
3         5         5        5        0         0
4         0         2        0        4         4
5         0         0        0        5         5
6         0         1        0        2         2

In [3]:
# After performing SVD we get U,S and V

U, S, V_T = np.linalg.svd(A)
#U, S, V_T = randomized_svd(A, n_components = 3)

In [4]:
U.round(2)

array([[-0.14,  0.02,  0.01,  0.99, -0.  , -0.  ,  0.  ],
       [-0.41,  0.07,  0.03, -0.06, -0.89,  0.19,  0.  ],
       [-0.55,  0.09,  0.04, -0.08,  0.42,  0.71,  0.  ],
       [-0.69,  0.12,  0.05, -0.1 ,  0.19, -0.68,  0.  ],
       [-0.15, -0.59, -0.65, -0.  ,  0.  , -0.  , -0.45],
       [-0.07, -0.73,  0.68,  0.  , -0.  ,  0.  ,  0.  ],
       [-0.08, -0.3 , -0.33, -0.  , -0.  , -0.  ,  0.89]])

In [5]:
S.round(2)

array([12.48,  9.51,  1.35,  0.  ,  0.  ])

In [6]:
V_T.round(2)

array([[-0.56, -0.59, -0.56, -0.09, -0.09],
       [ 0.13, -0.03,  0.13, -0.7 , -0.7 ],
       [ 0.41, -0.8 ,  0.41,  0.09,  0.09],
       [-0.71,  0.  ,  0.71, -0.  ,  0.  ],
       [-0.  ,  0.  , -0.  ,  0.71, -0.71]])

#### In the matrices U and V_T there are hiden factors or embeddings for both users and movies
- we don't know what these factors are - they can be how recent is the movie, how much a movie is sci-fi intense, how much one user is linked to another one, etc
- In U there are 7 hidden factors - users as an index - the bigger the number the more this particular user is linked to the hidden layer
    - E.g. users 2,3 and 4 have something in common in regards with the 1st hidden layer
- In S we've got the weights for each hidden layer
- V - movies in columns - shows the degree to which each movie belongs to a hidden layer
    - E.g. the 1-st 3 movies have a strong relationship with the 1st hidden layer while the last 2 movies - with the 2nd and the 5th hidden layer
    
#### This is how we manage to get important information about the data in the matrix 
#### The dot product of these 3 matrices will generate ratings, which will be used for recommendation of movies

### 1. c) Example built from scratch

In [7]:
# create a matrix A
A = np.array([[3,2,2],[2,3,-2]])
A

array([[ 3,  2,  2],
       [ 2,  3, -2]])

In [8]:
# calculate A x A^T
a_at = A.dot(np.transpose(A))
a_at

array([[17,  8],
       [ 8, 17]])

In [9]:
# calculate A^T x A
at_a = np.transpose(A).dot(A)
at_a

array([[13, 12,  2],
       [12, 13, -2],
       [ 2, -2,  8]])

In [10]:
# find the eigenvalues for both A x A^T and A^T x A
# eigenvalues should be the same for both matrices

a_at_eigenvalues, U = np.linalg.eig(a_at)
at_a_eigenvalues, V = np.linalg.eig(at_a)

print(f'Eigen values of AA^T are\n {a_at_eigenvalues}')
print(f'Eigen vectors of AA^T are\n {U}')
print(f'Eigen values of A^TA are\n {at_a_eigenvalues}')
print(f'Eigen vectors of A^TA are\n {V}')

Eigen values of AA^T are
 [25.  9.]
Eigen vectors of AA^T are
 [[ 0.70710678 -0.70710678]
 [ 0.70710678  0.70710678]]
Eigen values of A^TA are
 [2.50000000e+01 3.61082692e-15 9.00000000e+00]
Eigen vectors of A^TA are
 [[-7.07106781e-01 -6.66666667e-01  2.35702260e-01]
 [-7.07106781e-01  6.66666667e-01 -2.35702260e-01]
 [-1.16614446e-17  3.33333333e-01  9.42809042e-01]]

In [11]:
# get the singular values 
# U is 2x2 and V is 3x3, hence S must be 2x3

s_1 = round(a_at_eigenvalues[0])
s_2 = round(a_at_eigenvalues[1])

S = np.array([[np.sqrt(s_1),0,0],[0,np.sqrt(s_2),0]])
S

array([[5., 0., 0.],
       [0., 3., 0.]])

#### This is not exactly equal to A but this is how we are able to decompose a matrix without losing much of the important data

In [13]:
(U.dot(S).dot(np.transpose(V))).round(2)

array([[-1.09, -3.91, -0.71],
       [-3.91, -1.09,  0.71]])

#### Rearrange the vectors in U and V to get A right

In [14]:
U = np.array([[0.70710678,0.70710678],[0.70710678,-0.70710678]])
V = np.array([[7.07106781e-01,2.35702260e-01,6.66666667e-01],[7.07106781e-01,-2.35702260e-01,-6.66666667e-01],[0, 9.42809042e-01, -3.33333333e-01]])

In [15]:
# Equal to Matrix A
(U.dot(S).dot(np.transpose(V))).round(2)

array([[ 3.,  2.,  2.],
       [ 2.,  3., -2.]])

### 2. Comparison to other methods: why use SVD over these
https://heartbeat.fritz.ai/recommender-systems-with-python-part-iii-collaborative-filtering-singular-value-decomposition-5b5dcb3f242b # issues with svd <br>
https://realpython.com/build-recommendation-engine-collaborative-filtering/ # <br>

### SVD is used in:
- Dimensionality reduction
- Recommender systems
- Image recovery
- Image compression

#### Dimensionality reduction - PCA
https://math.stackexchange.com/questions/3869/what-is-the-intuitive-relationship-between-svd-and-pca <br> https://pages.mtu.edu/~shanem/psy5220/daily/Day4/PCA.html#choosing-between-svd-and-eigen-decomposition
- PCA is either done with eigen value decomposition or SVD
- SVD can be much more efficient to compute and it is able to handle sparse matrices, which is a matrix with mostly empty cells
- PCA with eigen vector decomposition performs matrix decomposition on the covaraince matrix of the data, which can cause loss of precision in some cases
- SVD might not be feasible on large datasets though 
- eigen decomposition requires a square matrix (covariance matrix) while SVD requires a rectangular
- sometimes when computing the square matrix (e.g correlation matrix, cov matrix, distance matrix, etc) is not feasible use SVD
    - e.g. a text corpus with 1 million docs (rows) and 200K words (columns) <br>
         computing eigen decomposition on 200K x 200K coc matrix may never finish
         Latent semantic analysis does SVD on large text document data that creates 100 to 300 dimensions <br> words that tend to appear together in docs tend to have similar meaning and these co-occurances are turned into a feature space

#### Recommender Systems
https://realpython.com/build-recommendation-engine-collaborative-filtering/ <br>
https://medium.com/@m_n_malaeb/the-easy-guide-for-building-python-collaborative-filtering-recommendation-system-in-2017-d2736d2e92a8#.8t9a8siz1 <br>
https://towardsdatascience.com/various-implementations-of-collaborative-filtering-100385c6dfe0

- SVD in the context of recommendation systems is used as a collaborative filtering algorithm
    - a family of algorithms where there are multiple ways to find similar users or items
    - the similarity is not calculated using factors like age of users, genre of the movie, or any other data about users or items
        - E.g. two users may be consider similar if they have given similar ratings to 10 movies despite there being a big difference in their age
    - Most CF algorithms are based on user-item rating matrix where each row represents a user, each column an item
        - The entries of this matrix are ratings given by users to items
    - give suggestions to a user on the basis of the likes and dislikes of similar users
        - search a large group of users and find a smaller set of similar users based on tastes
        - looks at the items they like and combine them to create a ranked list of suggestions
        - use the ranked list of suggestions to predict the ratings of the items that are not yet rated by a user

<img src="images/colaborative_filtering.png" width="600" height="400">

- How SVD works in collaborative filtering?
    - reduces the dimensionality of a dataset and captures hidden features that we can use to compare users ==> these hidden features are called embeddings 
    - high quality recommendations but has to undergo very expensive matrix factorization
    - if the matrix is mostly empty, reducing dimensions can improve the performance of the algorithm in terms of both space and time
    - because of hidden factors sometimes inference is intractable
    
<img src="images/model_based_cf.png" width="600" height="400">

## 3. Case study / Application
https://towardsdatascience.com/beginners-guide-to-creating-an-svd-recommender-system-1fd7326d1f65 # beginners <br>
https://info.cambridgespark.com/latest/practical-introduction-to-recommender-systems # svd and matrix factorization practice <br>
https://github.com/evagian/Instacart-basket-analysis-SVD-tensorflow-python/blob/master/README.md # svd in market basket analysis <br>
https://analyticsindiamag.com/singular-value-decomposition-svd-application-recommender-system/ # movie recommendation <br>
https://towardsdatascience.com/recommender-system-singular-value-decomposition-svd-truncated-svd-97096338f361 <br>
https://www.kaggle.com/shawamar/product-recommendation-system-for-e-commerce#Recommendation-System---Part-II # amazon data <br>
http://rstudio-pubs-static.s3.amazonaws.com/335300_11d40bf12d8940f78d9661b3c63150dc.html # toy data

### Movie recommendation
https://www.analyticsvidhya.com/blog/2019/08/5-applications-singular-value-decomposition-svd-data-science/ <br>
https://www.analyticsvidhya.com/blog/2018/06/comprehensive-guide-recommendation-engine-python/?utm_source=blog&utm_medium=5-applications-singular-value-decomposition-svd-data-science <br>
https://blog.codecentric.de/en/2019/07/recommender-system-movie-lens-dataset/ <br>
https://towardsdatascience.com/building-and-testing-recommender-systems-with-surprise-step-by-step-d4ba702ef80b <br>
https://nbviewer.jupyter.org/github/NicolasHug/Surprise/blob/master/examples/notebooks/KNNBasic_analysis.ipynb

In [3]:
movies = pd.read_csv('P:\\ds-moni\\Matrix-Factorization\\SVD\\ml-25m\\movies.csv')
ratings = pd.read_csv('P:\\ds-moni\\Matrix-Factorization\\SVD\\ml-25m\\ratings.csv')
print(movies.shape)
print(ratings.shape)

(62423, 3)
(25000095, 4)

In [263]:
sample_movies = movies.sample(50).reset_index(drop=True)
sample = ratings.merge(sample_movies,on=['movieId']).reset_index(drop=True)

In [264]:
sample_movies.head(5)

,movieId,title,genres
0,4990,Jimmy Neutron: Boy Genius (2001),Adventure|Animation|Children|Comedy
1,145194,Thru the Mirror (1936),Animation
2,195187,The 14 Amazons (1972),Action|Adventure
3,155432,Bengal Tiger (1936),Action|Adventure|Drama|Romance
4,150594,The Deep Blue Sea (1955),Drama|Romance

In [265]:
sample.head(5)

,userId,movieId,rating,timestamp,title,genres
0,3,3879,3.5,1439474297,"Art of War, The (2000)",Action|Thriller
1,120,3879,4.0,968765534,"Art of War, The (2000)",Action|Thriller
2,322,3879,4.0,987395903,"Art of War, The (2000)",Action|Thriller
3,548,3879,3.0,1431645012,"Art of War, The (2000)",Action|Thriller
4,860,3879,2.5,1111548628,"Art of War, The (2000)",Action|Thriller

In [266]:
# 100 users and 7 movies
sample = sample.sample(20).reset_index(drop=True)

#### Create the rating matrix with rows as movies and columns as users

In [307]:
# svd doesn'w work with NaNs - might need to impute with 0s or convert to sparse matrix
users_movies = sample.pivot_table(columns='movieId', values='rating',index='userId')
users_movies.columns = list(range(1,8))
users_movies

          1    2    3    4    5    6    7
userId
847     NaN  NaN  2.5  NaN  NaN  NaN  NaN
892     2.0  NaN  NaN  NaN  NaN  NaN  NaN
13028   NaN  NaN  NaN  4.0  NaN  NaN  NaN
31797   NaN  NaN  NaN  3.5  NaN  NaN  NaN
34884   NaN  NaN  NaN  NaN  3.5  NaN  NaN
49119   NaN  NaN  NaN  NaN  NaN  NaN  4.5
57532   1.0  NaN  NaN  NaN  NaN  NaN  NaN
58266   NaN  NaN  NaN  3.5  NaN  NaN  NaN
61029   NaN  NaN  NaN  3.5  NaN  NaN  NaN
64775   2.5  NaN  NaN  NaN  NaN  NaN  NaN
69252   NaN  NaN  NaN  1.5  NaN  NaN  NaN
75470   NaN  4.0  NaN  NaN  NaN  NaN  NaN
77273   NaN  NaN  NaN  5.0  NaN  NaN  NaN
77360   NaN  NaN  NaN  3.5  NaN  NaN  NaN
89830   NaN  NaN  NaN  2.0  NaN  NaN  NaN
113074  3.0  NaN  NaN  NaN  NaN  NaN  NaN
121753  NaN  NaN  NaN  NaN  NaN  4.0  NaN
132247  5.0  NaN  NaN  NaN  NaN  NaN  NaN
135458  NaN  NaN  NaN  0.5  NaN  NaN  NaN
141767  1.0  NaN  NaN  NaN  NaN  NaN  NaN

In [308]:
users_movies.fillna(0,inplace=True)
matrix = users_movies.values
matrix

array([[0. , 0. , 2.5, 0. , 0. , 0. , 0. ],
       [2. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 4. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 3.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 3.5, 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 0. , 4.5],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 3.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 3.5, 0. , 0. , 0. ],
       [2.5, 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 1.5, 0. , 0. , 0. ],
       [0. , 4. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 5. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 3.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 2. , 0. , 0. , 0. ],
       [3. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 4. , 0. ],
       [5. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0.5, 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. , 0. , 0. , 0. ]])

In [309]:
# Computing the Singular Value Decomposition (SVD)
U, S, V = np.linalg.svd(matrix)

#### The multiplication of U, S and V will give us the predictions

#### Next: Use a similarity measure to find Top N most similar movies to movie 3

In [326]:
# take the latent vectors for movie 3 from the V matrix
from sklearn.metrics.pairwise import cosine_similarity

sliced = V.T
movie_3 = sliced[2,:].reshape(1, -1)

score = cosine_similarity(sliced, movie_3).reshape(-1)
score

array([0., 0., 1., 0., 0., 0., 0.])

In [328]:
# a dataframe of similar movies

d = {'content':score}
similar = pd.DataFrame(d, index=list(range(1,8)))
similar

   content
1      0.0
2      0.0
3      1.0
4      0.0
5      0.0
6      0.0
7      0.0

In [329]:
# sort it 
similar.sort_values('content',ascending=False,inplace=True)
similar

   content
3      1.0
1      0.0
2      0.0
4      0.0
5      0.0
6      0.0
7      0.0

#### Predictions with package surprise

In [4]:
np.random.seed(42)
df = ratings.sample(500)

In [5]:
from surprise import Dataset, Reader, SVD, accuracy
from surprise.model_selection import train_test_split
 
# instantiate a reader and read in our rating data
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[['userId','movieId','rating']], reader)
 
# train SVD on 75% of known rates
train_set, test_set = train_test_split(data, test_size=.25)
algorithm = SVD()
algorithm.fit(train_set)
predictions = algorithm.test(test_set)
 
# check the accuracy using Root Mean Square Error
accuracy.rmse(predictions)

RMSE: 1.0183

1.0182956701739536

In [14]:
results = pd.DataFrame(predictions, columns=['uid', 'iid', 'rui', 'est', 'details'])
results['err'] = abs(results.est - results.rui)
results

        uid     iid  rui       est                    details       err
0    121615    3361  4.5  3.492000  {'was_impossible': False}  1.008000
1    109175  135133  3.0  3.492000  {'was_impossible': False}  0.492000
2     35930   42738  4.5  3.492000  {'was_impossible': False}  1.008000
3      6729    2571  4.5  3.654775  {'was_impossible': False}  0.845225
4     42827     597  3.0  3.438924  {'was_impossible': False}  0.438924
..      ...     ...  ...       ...                        ...       ...
120   26470    3751  3.5  3.484594  {'was_impossible': False}  0.015406
121   97566    1213  5.0  3.681182  {'was_impossible': False}  1.318818
122     900      22  4.0  3.492000  {'was_impossible': False}  0.508000
123  136938  116797  4.5  3.492000  {'was_impossible': False}  1.008000
124   68169    2417  2.0  3.492000  {'was_impossible': False}  1.492000

[125 rows x 6 columns]

In [15]:
best_predictions = results.sort_values(by='err')[:10]
best_predictions

        uid     iid  rui    est                    details    err
52   150377    3178  3.5  3.492  {'was_impossible': False}  0.008
22    69916    4571  3.5  3.492  {'was_impossible': False}  0.008
20    72733    2428  3.5  3.492  {'was_impossible': False}  0.008
19    85757  112290  3.5  3.492  {'was_impossible': False}  0.008
31   127544  182479  3.5  3.492  {'was_impossible': False}  0.008
112   15121   77154  3.5  3.492  {'was_impossible': False}  0.008
39    98503    2762  3.5  3.492  {'was_impossible': False}  0.008
98    98280    2115  3.5  3.492  {'was_impossible': False}  0.008
54    36449    4239  3.5  3.492  {'was_impossible': False}  0.008
100   53772    1721  3.5  3.492  {'was_impossible': False}  0.008

In [17]:
worst_predictions = results.sort_values(by='err')[-10:]
worst_predictions

        uid    iid  rui       est                    details       err
81    18995   3252  2.0  3.575541  {'was_impossible': False}  1.575541
107  101234   1263  1.5  3.492000  {'was_impossible': False}  1.992000
60   117106   2549  1.5  3.492000  {'was_impossible': False}  1.992000
50    18265     70  1.5  3.492000  {'was_impossible': False}  1.992000
47    65740   6213  1.5  3.492000  {'was_impossible': False}  1.992000
69     8511  52281  1.0  3.492000  {'was_impossible': False}  2.492000
27   117892  34162  1.0  3.492000  {'was_impossible': False}  2.492000
80    41608   5900  1.0  3.492000  {'was_impossible': False}  2.492000
106   22771   3977  1.0  3.492000  {'was_impossible': False}  2.492000
87    36353   7099  0.5  3.492000  {'was_impossible': False}  2.992000